<!DOCTYPE html>
<html lang="en">
<head>
    <title>Item App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .jumbotron {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Catalog App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% if session['email'] %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('disconnect') }}">
                Logout
            </a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('my_account') }}">
                My Account
            </a>
        {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('showLogin') }}">
                Login
            </a>
        {% endif %}
    </div>
</nav>

<div class="jumbotron my-auto">
    <div class="container">
        <h1>Item Catalog App</h1>
        <p>Welcome to the Item catalog app where you can categorise and share all your items</p>
    </div>
</div>
<div class="container">

    {% with flashed = get_flashed_messages() %}
        {% if flashed %}
            {% for message in flashed %}
                <h3 style="color: indianred">{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
{% endblock %}
</body>
</html>
